<!DOCTYPE html>
<html lang="ja">
<body style="font-family: sans-serif; line-height: 1.8;">
    <p>{{ user.username }} さん</p>

    <p>
        Daily Goal をご利用いただきありがとうございます。
    </p>

    <p>
        以下のリンクからパスワードの再設定を行ってください。
    </p>

    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            ▶ パスワードを再設定する
        </a>
    </p>

    <p>
        ※ このリンクは一定時間で無効になります。<br>
        ※ このメールに心当たりがない場合は、破棄してください。
    </p>

    <hr>

    <p>
        Daily Goal<br>
        毎日の小さな目標を、未来につなげる
    </p>
</body>
</html>
